<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/signin.css">
</head>
<body>
    <form class="form card">
        <div class="card_header">
            <h1 class="form_heading">Sign in</h1>
        </div>
        <div class="field">
            <label for="username">Username</label>
            <input class="input" name="username" type="text" placeholder="Username" id="username">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input class="input" name="user_password" type="password" placeholder="Password" id="password">
        </div>
    </form>
    <form action="http://127.0.0.1:8000" class="field">
        <button class="button">Login</button>
    </form>
</body>
</html>